[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RestRserve"]
	path = RestRserve
	url = https://github.com/rexyai/restrserve
[submodule "sparsio"]
	path = sparsio
	url = https://github.com/rexyai/sparsio
