[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RestRserve"]
	path = RestRserve
	url = https://github.com/rexyai/restrserve
	shallow = true
	registered = true
[submodule "rsparse"]
	path = rsparse
	url = https://github.com/rexyai/rsparse
	shallow = true
	registered = true
